/*-----Raleway-----*/
@font-face {
    font-family: 'Raleway';
    src:
        url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src:
        url('/assets/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src:
        url('/assets/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*-----PlayfairDisplay-----*/
@font-face {
    font-family: 'PlayfairDisplay';
    src:
        url('/assets/fonts/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src:
        url('/assets/fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src:
        url('/assets/fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/*-----Spectral-----*/
@font-face {
    font-family: 'Spectral';
    src:
        url('/assets/fonts/Spectral-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Spectral';
    src:
        url('/assets/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}