@mixin nav-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 15px;
    position: relative;
    letter-spacing: 0.13em;
    color: #FFFFFF;
}
@mixin nav-link-effect {
    &__nav-list-left-link::before, &__nav-list-right-link::before {
        position: absolute;
        content: '';
        display: block;
        width: 0%;
        height: 1.5px;
        left: 0;
        top: 22px;
        background-color: #fff;
        transition: width .3s ease-in-out;
    }
    &__nav-list-left-link:hover::before, &__nav-list-right-link:hover::before {
        width: 100%;
    }

    &__nav-list-right {
        margin-left: 100px;
    }
} 

@mixin btn {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    background: none;
    border: 3px solid #FFFFFF;
    cursor: pointer;
    transition: all .7s ease;

    &:hover {
        background: #ffffff;
        color: #292a19;
    }
}

@mixin input {
    background: none;
    border-radius: 3px;
    width: 100%;
    padding: 6px 2px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);

    font-family: 'Spectral';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}